/*======================================
//--//-->   Casa Chaka styles
======================================*/
.row {
  padding: 20px;
}
.col-12 {
  margin-top: 20px;
}
.extended-img img {
  height: 800px;
}
.extended-img-big img {
  height: 2000px;
}
img {
  width: 100%;
}
img {
  border-style: solid;
  border-image: linear-gradient(to bottom, gray, rgba(0, 0, 0, 0)) 1 100%;
}
.body {
  padding: 70px 20px;
}
.footer {
  margin-left: 65px;
}
.footer p {
  margin-left: 20px;
}
